global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "MyAppMetrics"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: [ "custom-metrics-springboot:8080" ]
        labels:
          application: "My Spring Boot Application"